
<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets.css'/>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        {{!-- <header>
            <div class="header center-content">
            <p>Name : Charandeep Singh </p>
            <p>Id : N01515226</p>
        </div>
        </header>

        <div class="header center-content menu">
            <p>
            	<a href="/">Home</a>
            	&nbsp;&nbsp;
            	<a href="/users">Menu 1</a>
            	&nbsp;&nbsp;
            	<a href="/notExist">Menu 2</a>
            </p>
        </div> --}}
        {{{body}}}

        {{!-- <footer>
            <div class="footer center-content">
            <p>Email : Charandeep1906@gmail.com</p>
        </div>
        </footer> --}}

    </body>
</html>
